<section>
    <form [formGroup]="form"
          (ngSubmit)="onSubmit()"
          fxLayout="column"
          fxLayoutAlign="center center"
          fxLayoutGap="10px">
        <mat-form-field>
            <input formControlName="email"
                   type="email"
                   matInput
                   placeholder="Your email">
            <mat-error *ngIf="form.get('email').hasError('email')">
                E-mail is invalid.
            </mat-error>
            <mat-error *ngIf="form.get('email').hasError('required')">
                Field must not be empty
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="password"
                   type="password"
                   matInput
                   placeholder="Your password">
            <mat-error *ngIf="form.get('password').hasError('required')">
                Field must not be empty
            </mat-error>
        </mat-form-field>
        <button type="submit"
                mat-raised-button
                color="primary"
                [disabled]="form.invalid">Submit</button>
    </form>
</section>